// Engine
.engine {
  flex: 25%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 10px;
}
.tray {
  flex: 75%;
}

// engine
/*   color variables */
$clr-primary: #ff7043;
$clr-primary-hover: #29e6a7;
$clr-primary-dark: #039d69;
$clr-gray100: #f9fbff;
$clr-gray150: #f4f6fb;
$clr-gray200: #eef1f6;
$clr-gray300: #e1e5ee;
$clr-gray350: #c7ccdb;
$clr-gray400: #767b91;
$clr-gray500: #4f546c;
$clr-gray600: #2a324b;
$clr-gray700: #161d34;

/*   border radius */
$radius: 0.2rem;

.engine__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  svg {
    height: 5rem;
    padding: 1.5rem;
    padding-left: 18px;
    position: absolute;
    cursor: pointer;
    
    
  }

  &__icon {
    fill: $clr-gray400;
    z-index: 99;
  }

  &__close {
    right: 0;
    fill: white;
    transition: 500ms fill ease-in;
  }

  &__delete {
    fill: $clr-gray350;
    right: 5rem;
    display: none;
  }

  input {
    // box-shadow: 0 0 10px 5px $clr-gray300;
    box-shadow: 1px 4px 6px 2px #898a8b29;
    border: none;
    border-radius: 50%;
    padding: 1.75rem 2.7rem;
    font-family: inherit;
    font-size: 1.5rem;
    color: $clr-gray400;
    outline: none;
    width: 2rem;
    transition: 500ms width ease-in-out, 500ms padding ease-in-out, 500ms border-radius ease-in-out;

    &:not(:placeholder-shown) ~ .search__delete {
      display: block;
    }
   
  }
 
  //open state
  &-open input {
    width: 34rem;
    padding: 1rem 11rem 1.2rem 5rem;
    border-radius: $radius;
  }

  //when content is in text field show delete button
  &-open svg.search__close {
    fill: $clr-gray400;
  }
}


// tab

@media only screen and (max-width: 650px) {
  // body {
  //   background: #039d69;
  // }

  .search {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    svg {
      height: 4.5rem;
      padding: 1.5rem;
      position: absolute;
      cursor: pointer;
    }

    &__icon {
      fill: $clr-gray400;
      z-index: 99;
    }

    &__close {
      right: 0;
      fill: white;
      transition: 500ms fill ease-in;
    }

    &__delete {
      fill: $clr-gray350;
      right: 3rem;
      display: none;
    }

    input {
      box-shadow: 0 0 10px 5px $clr-gray300;
      border: none;
      border-radius: 50%;
      padding: 1.75rem 3rem;
      font-family: inherit;
      font-size: 2rem;
      color: $clr-gray400;
      outline: none;
      width: 2rem;
      transition: 500ms width ease-in-out, 500ms padding ease-in-out, 500ms border-radius ease-in-out;

      &:not(:placeholder-shown) ~ .search__delete {
        display: block;
      }
    }

    //open state
    &-open input {
      width: 25rem;
      // margin: 0 auto;
      padding: 1rem 1rem 1.2rem 5rem;
      border-radius: $radius;
    }

    //when content is in text field show delete button
    &-open svg.search__close {
      fill: $clr-gray400;
    }
  }
}

@media only screen and (max-width: 430px) {
  // body {
  //   background: #ff7043;
  // }

  
  .search {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    svg {
      height: 3rem;
      padding: 0.8rem;
      position: absolute;
      cursor: pointer;
    }

    &__icon {
      fill: $clr-gray400;
      z-index: 99;
      left: -10px;
    }

    &__close {
      right: -20px;
      fill: white;
      transition: 500ms fill ease-in;
    }

    &__delete {
      fill: $clr-gray350;
      right: 1.5rem;
      display: none;
    }

    input {
      box-shadow: 0 0 10px 5px $clr-gray300;
      border: none;
      border-radius: 50%;
      padding: 1.50rem 2.4rem;
      font-family: inherit;
      font-size: 1.4rem;
      color: $clr-gray400;
      outline: none;
      width: 2rem;
      transition: 500ms width ease-in-out, 500ms padding ease-in-out, 500ms border-radius ease-in-out;

      &:not(:placeholder-shown) ~ .search__delete {
        display: block;
      }
    }

    //open state
    &-open input {
      width: 300px;
      height: 55px;
      padding: 1rem 1rem 1.2rem 3rem;
      border-radius: $radius;
    }

    //when content is in text field show delete button
    &-open svg.search__close {
      fill: $clr-gray400;
    }
  }
}

