.header {
    display: flex;
    justify-content: space-between;
    margin: 5px 2%;
}

.header__logo{
    display: flex;
    align-items: center;
}
.header__logo-img {
    height: 35px;
    width: 35px;
    object-fit: contain;
    filter: grayscale(1);
    
}
.header__logo-img:hover{
    filter: grayscale(0);
    cursor: none;
    animation: 3s  hypnosis infinite ease-in-out;
   
}

.header__active-eingne {
    z-index: -100;
    position: absolute;
    background-color: #fff;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    padding: 5px 30px ;
    font-size: 10px;
    box-shadow: 2px 1px 0px 0px #b0b3b8;
    font-weight: 500;
    clip-path: polygon(50% 0%, 100% 0, 82% 100%, 18% 100%, 0 0);
}






@keyframes hypnosis {
    0%{
        transform: rotate(0deg);
        transform-origin: 10px 30px;
    }
    50%{
        transform: rotate(-90deg);
    }
    100%{
        transform: rotate(0deg);
    }
}


.header__logo-title {
    margin-left: 10px;
    font-size: 1.2rem;
    font-family: "Proxima";
    color: rgb(43, 43, 43);    
}

@media only screen and (max-width: 800px) {
    .header {
        margin: 5px 3%;
    }
    
    .header__logo-title{
        display: none;
    }
}

/*===========================
            HEX
===========================*/

body.HEX {
    .header__logo-title {
        color: #FFF;
    }
    
}
