.mega__query{
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    background: #ebe7e7 ;
    width: 90%;
    height: 93%;
    max-width: 1080px;
    z-index: 10000;
    border-radius: 4px ;
    overflow-x:hidden;   
    overflow-y: scroll; 
    box-shadow: 0px 4px 4px 1px #a69a9a6e;
    font-family: "Proxima" ,Arial, Helvetica, sans-serif;  
}

.mq__head {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid #0000004a;
}
.mq__head .close-btn {
    border:none;
    width: 15px;
    height: 15px;
    background: rgb(250, 105, 105);
    border-radius: 50%;
    color: transparent;
    line-height: 15px;
    transition: 0.3s ease-in-out all;
    &:hover{
        transform:scale(1.2);
        color: rgba(255,255,255,0.9);
    }

}
.mq__container {
    width: 100%;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px ;
    padding: 5px;
    overflow: hidden;
}

.query__box {
    background: #fff;
    padding: 15px 10px ;
    border-radius: 3px ;
    border-bottom: 1px slategrey solid;
    border-bottom: 1px #0a0a0a3b solid;
    box-shadow: 0px 2px 0px 1px #00000014;
}
.query__box-search {
    display: flex;
    align-items: center;    
    font-family: "Proxima" ,Arial, Helvetica, sans-serif;  
}
.query__box-search img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-right: 14px;
    background: transparent;
    transition: ease transform 0.3s;
    
    &:hover{
        transform :scale(1.2);    
    }
}
.query__box-search .info {
    display: flex;
    gap: 5px;
    flex-direction: column;
    flex-grow: 1;
    margin: 0 20px 0 0px;
}
.query__box-search .info h6{
    font-size: 15px;
    margin-left: 5px;
    color: rgb(99, 96, 96);
    text-transform: uppercase;
}
.query__box-search .info input{
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(73, 70, 70,0.3);
    padding: 5px;
    transition: border ease-in-out 0.2s;
    &:focus{
        border-bottom: 2px dashed rgba(73, 70, 70,0.8);
    }
}
.query__box-dis b {
    font-style: normal;
}
.query__box-dis {
    margin-top: 10px;
    padding-left: 5px;
    text-align: left;
    font-size: 14px;
    font-weight: 500;
    color: #222222a6;
    letter-spacing: 0.2px;
    font-family: "Proxima" ,Arial, Helvetica, sans-serif;  
}

.mq__logo-text{
    background-color: #0000002d;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 1.5rem;
    text-transform: uppercase;
    transition: ease transform 0.3s;
    
    &:hover{
        transform :scale(1.2);    
    }
}
@media only screen and (min-width: 820px) {
    .mq__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: min-content;
    }   
}
@media only screen and (min-width: 1000px) {
    .mq__container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: min-content;
    }   
}